<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Market.dao.SysUserMapper">
    <select id="findLogin" resultType="com.example.Market.pojo.SysUser" parameterType="com.example.Market.pojo.SysUser">
        SELECT * FROM `sysuser` WHERE
        `User_qqEmail` = #{User_qqEmail} AND `User_Password` = #{User_Password}
    </select>
</mapper>