<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" href="aboutTouImg/js/layui/css/layui.css" media="all">

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="aboutTouImg/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="aboutTouImg/cropper/cropper.min.css" rel="stylesheet">
    <link href="aboutTouImg/sitelogo/sitelogo.css" rel="stylesheet">
    <script src="aboutTouImg/cropper/cropper.min.js"></script>
    <script src="aboutTouImg/sitelogo/sitelogo.js"></script>
    <script src="aboutTouImg/bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>个人资料</title>
    <link href="css/userinfo.css" rel="stylesheet" type="text/css"/>
    <link href="css/orderlist.css" rel="stylesheet" type="text/css"/>
    <link href="css/page.css" rel="stylesheet" type="text/css"/>
    <link href="css/top.css" rel="stylesheet" type="text/css"/>
    <link href="css/bottom.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/layer.js"></script>
   <!--  放出这行代码样式会乱-->
    <!--<link rel="stylesheet" href="layui/css/layui.css">-->
    <!--<script src="layui/layui.js"></script>-->
   
</head>
<body>
<div class="nav">
    <div class="nav_content">
        <div class="user">
                <div class="car">
                    <a href="cart.html"><img src="images/car.png"></a>
                    <span>0</span>
                </div>

            <div class="userlogo">
                <img src="images/icon-user_47dae1a.jpg">
                <div class="user_meua">

                        <a href="Regedit.html">立刻注册</a>
                        <a href="Login.html">立刻登录</a>
                        <a class="order" href="order.html">我的订单</a>
                    </th:if>

                        <div>
                            <a href="userinfo.html">尊敬的 <b>user</b></a>
                            <a href="userinfo.html">我的资料</a>
                            <a href="order.html">我的订单</a>
                            <a href="pubGoods.html">我发布的商品</a>
                            <a href="Login.html">退出登陆</a>
                        </div>

                </div>
            </div>
            <div class="search">
                <form method="post" action="List.html">
                    <input placeholder="搜索商品" required="true" name="name" type="text" id="name"
                           style="position: relative;top: -22px;left: -15px;">
                    <input type="image" src="images/search.png"
                           style="width:20px;height:20px;position: relative;top: -22px;"></form>
            </div>
        </div>
        <ul class="nav_link">
            <li><img src="images/web.gif" style="width: 200px;height:80px;margin-left: -600px;margin-top: -10px"/>
            </li>
            <li>
                    <a href="index.html">首页</a>
            </li>
            <li>
                <a href="QGXX.html">求购信息广场</a>
            </li>
            <li><a href="userinfo.html">用户中心</a>
            </li>
            <li>
                <a href="Login.html">我的足迹</a>
            </li>
        </ul>
    </div>
</div>

<div class="crumbs">
    <a href="index.html">网站首页</a> &nbsp;&gt;&nbsp;
    <span class="crumbs-level" id="crumbsLevel"><a href="userinfo.html">用户信息</a></span>
</div>
<div class="user_top">
    <div class="user_top_content">
        <div class="user_top_left">
            <img src="images/member.jpg">
            <p class="honor">普通会员</p>
            <p class="user_top_btn" style="background:#f0ad4e; float:left; margin-left:50px;"><a href="shop7z_Signin.asp">签到</a></p>

        </div>
        <div class="user_top_center">
            <div class="user_name">
                <p class="user_title">user</p>
                <p>普通会员</p>
                <p>信息完整度</p>
                <div class="jindu_bg">
                    <div class="jindu" style="width:29%;">29%</div>
                </div>
                <p>推荐您完善个人信息，更方便下单和收货。
                </p>
            </div>
            <div class="user_money">
                <p class="user_title">我的财富</p>
                <ul class="list-inline">
                    <li>
                        <span class="badge" style="background:#f0ad4e">3</span>
                        <p class="p-xs">我的积分 </p>
                    </li>
                    <li>
                        <span class="badge" style="background:#5cb85c">0</span> 元
                        <p class="p-xs">我的余额 </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user_top_right">
            <p class="user_title">会员成长</p>
            <ul>
                <li style="margin:5px;">亲爱的会员user你好！</li>
                <li style="margin:5px;">每天签到可获得3积分，您共签到1天，共获3积分</li>
                <li style="margin:5px;">最近签到日期是2019/7/12日，继续努力！</li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="crumbs">
    <a  href="index.asp">网站首页</a> &nbsp;&gt;&nbsp;
    <span class="crumbs-level" id="crumbsLevel"><a href="userinfo.asp" >用户信息</a>&nbsp;&gt;&nbsp;信息修改</span>
</div>
<div class="user_bottom" style="height:850px;" >

    <div class="user_bottom_left">
        <img src="images/member.jpg">
        <p>普通会员</p>
        <ul>
            <li><a href="userinfo.asp"  class="active">个人资料</a></li>
            <li><a href="user_coin.asp" >帐户充值</a></li>
            <li><a href="chzxf.asp"   >充值/消费</a></li>
            <li><a href="cart.asp"  >购物车</a></li>
            <li><a href="order_list.asp"  >我的订单</a></li>
            <li><a href="user_fav.asp"   >商品收藏</a></li>
            <li><a href="lipin_list.asp"  >签到/兑换礼品</a></li>
            <li><a href="zhifen.asp"  >积分对帐</a></li>
            <li><a href="addmess.asp"  >在线留言</a></li>
            <li><a href="repassword.asp"   >修改密码</a></li>
            <li><a href="findpass.asp"  >找回密码</a></li>
            <li><a href="quit.asp" onclick="return confirm('确定退出?')" >退出</a></li>
        </ul>
        <div class="xian"></div>
    </div>


    <FORM id=theForm name="theForm" action="hyzqadmin.asp" method="post"   onSubmit="return Juge()">
        <div class="form_common">
            <label>头像</label>
            <center><img src="images/member.jpg" width="100px"></center>
        </div>
        <div class="form_common">
            <label>上传头象</label>
            <input type="text" value="images/member.jpg" size="35" name="facepic">
            <label style="padding-left:130px;">
                <input type="file" name="img"/>
            </label>
        </div>
        <div class="form_common">
            <label>用户名</label>
            <input type="text" name="username" value="user" disabled  placeholder="用户名">
        </div>
        <div class="form_common">
            <label>邮箱</label>
            <input type="email"  name="email" value="2205997640@qq.com"  placeholder="邮箱">
        </div>
        <div class="form_common">
            <label>密码提示问题</label>
            <SELECT size=1 name="password_prompt">
                <OPTION value="" selected></OPTION>
                <OPTION value="" >请选择问题</OPTION>
                <OPTION value="您的初中班主任是？">您的初中班主任是？</OPTION>
                <OPTION value="您的高中班主任是？">您的高中班主任是？</OPTION>
                <OPTION value="您的配偶的名字是？">您的配偶的名字是？</OPTION>
                <OPTION value="您的配偶的职业是？">您的配偶的职业是？</OPTION>
                <OPTION value="您的配偶的生日是？">您的配偶的生日是？</OPTION>
                <OPTION value="您的父亲的名字是？">您的父亲的名字是？</OPTION>
                <OPTION value="您的父亲的职业是？">您的父亲的职业是？</OPTION>
                <OPTION value="您的母亲的名字是？">您的母亲的名字是？</OPTION>
                <OPTION value="您的母亲的生日是？">您的母亲的生日是？</OPTION>
                <OPTION value="您最喜欢的歌曲名是？">您最喜欢的歌曲名是？</OPTION>
                <OPTION value="您最喜欢的电影名是？">您最喜欢的电影名是？</OPTION>
            </SELECT>
        </div>
        <div class="form_common">
            <label>密码提示答案</label>
            <input type="text"  name="password_Answer" value="" placeholder="密码提示答案">
        </div>
        <div class="form_common">
            <label>真实姓名</label>
            <input type="text"  name="truename" value="" placeholder="真实姓名">
        </div>


        <div class="form_common">
            <label>送货地址</label>
            <input type="text"  name="address" value="" placeholder="送货地址">
        </div>
        <div class="form_common">
            <label>联系电话</label>
            <input type="text"  name="mobile" value="" placeholder="联系电话">
        </div><div class="form_common">

        <label>邮政编码</label>
        <input type="text"  name="postno" value="" placeholder="邮政编码">
    </div><div class="form_common">

        <label  style="margin-top:-7px;">会员等级</label>
        <span class="shop7z_user_info" style="margin-top:20px;">普通会员</span>
    </div><div class="form_common">

        <label  style="margin-top:-7px;">上次登陆时间</label>
        <span class="shop7z_user_info" style="margin-top:20px;font-weight:normal;">2019/7/12 13:12:53。 登陆IP：117.168.148.240</span>
    </div>
        　　

        <div class="form_common" style="margin-top:-20px;" >
            <div><input type="submit" style="margin-left:-210px;cursor:pointer;" value="保存个人信息"></div>
        </div>

    </form>
</div>
<div class="xian">
</div>

<SCRIPT language=javascript>
    function Juge()
    {


        if (document.theForm.password_prompt.value=="")
        {
            layer.msg('请输入密码提示问题',{icon: 2});
            document.theForm.password_prompt.focus();
            return false;
        }
        if (document.theForm.password_Answer.value=="")
        {
            layer.msg('请输入密码提示问题答案',{icon: 2});
            document.theForm.password_Answer.focus();
            return false;
        }

        if (document.theForm.truename.value=="")
        {
            layer.msg('请输入用户真实姓名',{icon: 2});
            document.theForm.truename.focus();
            return false;
        }

        if (document.theForm.mobile.value=="")
        {
            layer.msg('请输入联系电话',{icon: 2});
            document.theForm.mobile.focus();
            return false;
        }

        if (document.theForm.address.value=="")
        {
            layer.msg('请输入联系地址',{icon: 2});
            document.theForm.address.focus();
            return false;
        }
    }
</SCRIPT>
<div class="xian">
</div>


<div class="modal fade" id="avatar-modal" aria-hidden="true"
     aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="avatar-form" action="userinfo.html"
                  enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">Change Logo
                        Picture</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput">图片上传</label> <input
                                class="avatar-input" id="avatarInput" name="avatar_file"
                                type="file">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="-90"
                                            type="button" title="Rotate -90 degrees">
                                        <i class="fa fa-undo"></i> 向左旋转
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="90"
                                            type="button" title="Rotate 90 degrees">
                                        <i class="fa fa-repeat"></i> 向右旋转
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <p style="position: relative;left: -20px; color: red;font-size: 15px;">
                                    只能上传jpg,gif文件格式的图片</p>
                                <input style="padding: 3px 25px 3px 25px;" type="submit" value="保存修改">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>


<!--=======================================================================-->
<div class="footer">
    <div class="footer_content">
        <ul class="footer_item">
            <li>联系方式：</li>
            <li class="tit">15979675043</li>
            <li class="tit">1730548276@qq.com</li>
        </ul>

        <ul class="footer_item">
            <li>购物指南</li>

            <li><a href="#">选择配送方式</a></li>

            <li><a href="#">付款收货</a></li>

            <li><a href="#">挑选商品</a></li>

        </ul>

        <ul class="footer_item">
            <li>送货说明</li>

            <li><a href="#">购物流程</a></li>

            <li><a href="#">订购方式</a></li>

            <li><a href="#">注意事项</a></li>

        </ul>

        <ul class="footer_item">
            <li>支付方式</li>

            <li><a href="javascript:void(0)">货到付款区域</a></li>

            <li><a href="javascript:void(0)">支付方式说明</a></li>

            <li><a href="javascript:void(0)">货到付款</a></li>

        </ul>

        <ul class="footer_item">
            <li>服务政策</li>

            <li><a href="javascript:void(0)">售后服务</a></li>

            <li><a href="javascript:void(0)">退换货原则</a></li>

            <li><a href="javascript:void(0)">其他服务协议</a></li>

        </ul>

        <ul class="footer_item">
            <li>关于我们</li>

            <li><a href="javascript:void(0)">关于我们</a></li>

            <li><a href="javascript:void(0)">如何联系我们</a></li>

            <li><a href="javascript:void(0)">合作加盟</a></li>
        </ul>
    </div>
</div>
<div class="Shop7z_kefu">
    <div id="service">
        <ul>
            <li>
                <a href="javascript:void(0)" class="weixin_area">
                    <img src="images/l02.png" width="47" height="49" class="shows"/>
                    <img src="images/a.png" width="57" height="49" class="hides"/>
                    <img src="images/qd.png" width="145" class="weixin"
                         style="display:none;margin:-100px 57px 0 0"/>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" target="_blank">
                    <div class="hides" style="width:161px;display:none;" id="qq">
                        <div class="hides" id="p1">
                            <img src="images/ll04.png"/>
                        </div>
                        <div class="hides" id="p2"><span style="color:#FFF;font-size:13px">1599428958</span>
                        </div>
                    </div>
                    <img src="images/l04.png" width="47" height="49" class="shows"/>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="hides" style="width:161px;display:none;">
                        <div class="hides" id="p1">
                            <img src="images/ll05.png"/>
                        </div>
                        <div class="hides" id="p3"><span style="color:#FFF;font-size:12px">12345678991</span>
                        </div>
                    </div>
                    <img src="images/l05.png" width="47" height="49" class="shows"/>
                </a>
            </li>
            <li>
                <a id="top_btn">
                    <div class="hides" style="width:161px;display:none">
                        <img src="images/ll06.png" width="161" height="49"/>
                    </div>
                    <img src="images/l06.png" width="47" height="49" class="shows"/>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="css/user.js"></script>
</body>
</html>


